<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sync.Properties.Settings.nature_netConnectionString_aces"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=nature-net-aces;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="sync.Properties.Settings.nature_netConnectionString_umd"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=nature-net-umd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="sync.Properties.Settings.nature_netConnectionString_uncc"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=nature-net-uncc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="sync.Properties.Settings.nature_netConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=nature-net-aces;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="sync.Properties.Settings.nature_netConnectionString_dev"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=naturenet-dev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>